<div class="alumnos-container">
    <div class="btnAgregar d-flex justify-content-between mb-4">
      <div class="titulo">
        <h5>Gestión de Alumnos</h5>
        <h6>Listado y filtrado de Alumnos</h6>
      </div>
      <!-- Componete botones -->
    </div>
  
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button
          class="nav-link active"
          id="nav-alumnos-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-alumnos"
          type="button"
          role="tab"
          aria-controls="nav-alumnos"
          aria-selected="true"
          (click)="clickMenuTipo('ALUMNOS')"
        >
          Alumnos
        </button>
        
      </div>
    </nav>
    <div class="card-body">
      <div class="contenedor-componentes">
        <!-- Componente pricipal -->
        <div class="col-lg-12">
          <div class="tab-content" id="nav-tabContent">
            <div
              class="tab-pane fade show active"
              id="nav-alumnos"
              role="tabpanel"
              aria-labelledby="nav-alumnos-tab"
            >
              <app-mostrar-alumnos></app-mostrar-alumnos>
            </div>
            <div>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  