<div class="modal fade" id="modalGeneral">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAgregarAlumno">{{ titleModal }}</h5>
        <button
          #closeModal
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          id="modalClose"
          (click)="cerrarModal()"
        ></button>
      </div>
      <div class="modal-body">
        <container-element [ngSwitch]="tipoFormulario">
          <!-- cuerpo del modal dinámico -->
          <div *ngSwitchCase="'nuevoAlumno'">
            <app-crear-alumnos></app-crear-alumnos>
          </div>
        </container-element>
      </div>
      <div class="modal-footer">
        <button
          type=""
          class="btn btn-danger btnDefaultPrimary"
          data-bs-dismiss="modal"
          (click)="cerrarModal()"
        >
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
